.toolbar {
    background-color: blueviolet;
    display: flex;
}

.elem {
    margin-right: 50px;
}

.createOrder { 
    position: absolute;
    align-self: center;
    margin-top: 100px;
    right: 50%    
}

.createForm {
    position: absolute;
    align-self: center;
    margin-top: 50px;
    right: 45%  
}

.elemf {
    display: flex;
    right: 45%
}

h1 {
    text-align: center
}

.acceptbutton {
    position: absolute;
    align-self: center;
    margin-top: 100px;
    right: 50% 
}

.resbox{
    background-color: rgb(254, 253, 255);
    margin: 0 auto;
    size: 50%;
    max-width: 500px;
}

.msj{
    text-align: center
}

.editando {
    text-align: center
}

.cliente {
    text-align: center
}
