.toolbar {
    background-color: blueviolet;
}

.minilogo {
    max-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:  5px;
}

.logOutButton {
    position: absolute;
    align-self: center;
    right: 20px;
}

.searchbar {
    position: absolute;
    align-self: center;
    right: 50%
}